<div class="home container my-5 p-4 bg-light rounded-3 shadow">
    <div class="text-center">
        <h1 class="display-4 fw-bold mb-3">Welcome to the Character Explorer</h1>
        <p class="lead text-muted mb-5">Discover detailed information about your favorite characters, their homeworlds, and species.</p>
        <a routerLink="/browse">
            <img  src="https://data.textstudio.com/output/sample/animated/4/4/7/6/star-wars-23-16744.gif" class="img-fluid my-4 rounded shadow-lg" alt="Logo" width="200" height="auto">
        </a>
</div>