@if (character) {
  <div class="container py-5">
    <div class="shadow py-3">
      <h4 class="text-center">Character Details</h4>
        <div class="m-3 d-flex">
            <div class="card border-secondary m-2 w-25">
              <div class="card-header bg-secondary text-light">Name</div>
              <div class="card-body text-primary">
                <p class="card-text">{{ character.name }}</p>
              </div>
            </div>

            <div class="card border-secondary m-2 w-75">
              <div class="card-header bg-secondary text-light">Description</div>
              <div class="card-body text-primary">
                <p class="card-text">{{character.description}}</p>
              </div>
            </div>
        </div>
            
        <div class="d-flex m-3 ">
            <div class="card border-secondary m-2 w-25">
              <div class="card-header bg-secondary text-light">Mass</div>
              <div class="card-body text-">
                <p class="card-text">{{character.mass}}</p>
              </div>
            </div>

            <div class="card border-secondary  m-2 w-25">
              <div class="card-header bg-secondary text-light">Hair Color</div>
              <div class="card-body text-secondary">
                <p class="card-text">{{character.hair_color}}</p>
              </div>
            </div>

            <div class="card border-secondary m-2 w-25">
              <div class="card-header bg-secondary text-light">Skin Color</div>
              <div class="card-body text-secondary">
                <p class="card-text">{{character.skin_color}}</p>
              </div>
            </div>

            <div class="card border-secondary m-2 w-25">
              <div class="card-header bg-secondary text-light">Eye Color</div>
              <div class="card-body text-secondary">
                <p class="card-text">{{character.eye_color}}</p>
              </div>
            </div>

            <div class="card border-secondary m-2 w-25">
              <div class="card-header bg-secondary text-light">Birth Year</div>
              <div class="card-body text-secondary">
                <p class="card-text">{{character.birth_year}}</p>
              </div>
            </div>

            <div class="card border-secondary m-2 w-25">
              <div class="card-header bg-secondary text-light">Gender</div>
              <div class="card-body text-secondary">
                <p class="card-text">{{character.gender}}</p>
              </div>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-2">
              <button class="btn btn-danger" (click)="deleteUser(character.name)">
                <i class="bi bi-trash"></i>
              Delete</button>
            </div>

            <div class="col-md-2">
              <button class="btn btn-warning">
              <i class="bi bi-pen"></i>Edit</button>
            </div>
            <div class="col-md-2">
              <!-- <button class="btn btn-warning text-light" (click)="editUser(character.id)">Delete</button> -->
            </div>
          </div>
    </div>
  </div>
}

@else {
  <p class="text-center mt-3">No Data!</p>
}